#!/usr/bin/env ruby

compile '/**/*.html' do
  layout item[:layout] || '/default.html'
  filter :typogruby
  filter :html_compress
  write item.identifier.to_s
end

compile '/**/*.css' do
  filter :rainpress
  write item.identifier.to_s
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
