body {
  background-color: #5af;
  color: #fff;
}

#nav a:link, #nav a:visited {
  color: #fff;
}

#subnav a:link, #subnav a:visited {
  color: #fff;
}

main a:link, main a:visited {
  color: #fff;
}
