@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,300);

body {
  background: #eee;
  color: #555;
  font: 20px 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

main {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 768px;
  padding: 0.8em;
  width: 100%;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 320px;
  width: 100%;
}

h1 {
  color: #111;
  margin: 0;
  margin-left: -4px;
  padding: 0;
}

h6 {
  font-weight: 300;
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.5em;
  margin: 0;
  margin-top: 1em;
  text-align: left;
}

li {
  line-height: 1.5em;
}

mark {
  background-color: #fff;
  border-left: 10px solid #ddd;
  display: block;
  font-size: 1.1em;
  font-weight: bold;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-top: 0.5em;
}

em {
  background-color: #ffd;
  font-style: italic;
}

hr {
  border: 1px solid #ddd;
  margin-bottom: 2em;
  margin-top: 2em;
}

a:link {
  color: #0a9;
}

a:visited {
  color: #066;
}

.exercise {
  background-color: #fff;
  padding: 0.5em;
  margin-top: 1em;
}

.exercise summary {
  font-size: 1.1em;
  font-weight: bold;
}

.answer {
  visibility: hidden;
}

.answered {
  background-color: #ced;
  color: #000;
  font-weight: bold;
}

footer {
  margin-top: 4em;
}

footer nav {
  background-color: #fff;
  padding: 0;
}

footer nav section {
  align-items: center;
  display: flex;
  margin: 0 auto;
}

footer nav section aside {
  flex: 1 1;
  padding: 0.5em;
}

footer nav section aside:last-child {
  text-align: right;
}

#edits {
  background-color: #ccc;
  color: #888;
  font-size: 0.8em;
  margin-top: 5em;
  padding: 1em;
}

summary {
  cursor: pointer;
}

#edits ol {
  list-style-type: none;
}

#edits li {
  font-style: italic;
}

@media(max-width: 480px) {
  body {
    font-size: 18px;
  }
}
